{% extends 'base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}

<h2>Личный кабинет</h2>

<form method="get" action="{% url 'dashboard' %}" class="search-form">
    <input type="hidden" name="section" value="{{ section }}">
  <div class="search-item">
    <label>&nbsp;</label>
    <input type="text" placeholder="Поиск по названию" name="q" value="{{ query }}">
  </div>

  <div class="search-item">
    <label>Дата от:</label>
    <input type="date" name="date_from" value="{{ date_from }}">
  </div>

  <div class="search-item">
    <label>Дата до:</label>
    <input type="date" name="date_to" value="{{ date_to }}">
  </div>

  <div class="search-item">
    <label>&nbsp;</label>
    <input type="text" name="tag" placeholder="Поиск по тегу" value="{{ tag }}">
  </div>

  <div class="search-item">
      <label>&nbsp;</label>
    <button type="submit">🔍 Поиск</button>
  </div>
</form>

<!-- Секция Мои видео -->
{% if section == 'videos' %}
    <h3>Ваши видео</h3>
    <div class="summary-grid">
        {% for video in user_videos %}
            {% include 'video_card.html' with video=video %}

        {% endfor %}
    </div>
{% endif %}

<!-- Секция Мои конспекты -->
{% if section == 'summaries' %}
    <h3>Ваши конспекты</h3>
    <div class="summary-grid">
        {% for summary in user_summaries %}
            {% include 'summary_card.html' with summary=summary user=user allow_delete=True not_favorites=True%}
        {% endfor %}
    </div>
{% endif %}

<!-- Секция Избранное -->
{%if section == 'favorites'%}
    <h3>Мои избранные конспекты</h3>
    <div class="summary-grid">
        {% for summary in favorite_summaries %}
            {% include 'summary_card.html' with summary=summary user=user allow_delete=False %}
        {% empty %}
            <p>Список избранного пуст.</p>
        {% endfor %}
    </div>
{%endif%}

<script>
document.addEventListener("DOMContentLoaded", function() {
    const toggleButtons = document.querySelectorAll('.toggle-summary-btn');
    toggleButtons.forEach(btn => {
        btn.addEventListener('click', function() {
            const target = document.querySelector(this.dataset.target);
            if (target.style.display === "none") {
                target.style.display = "block";
                this.textContent = "Скрыть ▲";
            } else {
                target.style.display = "none";
                this.textContent = "Подробнее ▼";
            }
        });
    });
});
</script>
<style>
.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1.5rem;
  align-items: flex-start; /* ВЫРАВНИВАНИЕ ПО ВЕРХУ */
}

.search-item {
  display: flex;
  flex-direction: column;
  width: 200px;  /* одинаковая ширина для всех */
}

.search-item label {
  font-weight: bold;
  margin-bottom: 5px;
}

.search-item input,
.search-item button {
  height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top:0rem;
  width: 100%;
}

</style>
{% endblock %}
