{% extends 'base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
  <h2>Ваши видео</h2>
  {% for video in user_videos %}
    <div class="video-card">
      <h3>{{ video.title }}</h3>
      <p>Длительность: {{ video.duration }} сек.</p>
      <form method="post" action="{% url 'delete_video' video.id %}">
        {% csrf_token %}
        <button type="submit">Удалить видео</button>
      </form>
      <a href="{% url 'edit_video_tags' video.id %}">Редактировать теги</a>
    </div>
  {% endfor %}

  <h2>Ваши конспекты</h2>
  {% for summary in user_summaries %}
    <div class="summary-card">
      <h3>{{ summary.audio.video.title }}</h3>
      <p>Формат: {{ summary.format.format }} | Алгоритм: {{ summary.algorithm.algo }}</p>
      <p><strong>Транскрипция:</strong><br>{{ summary.transcript_text }}</p>
      <p><strong>Конспект:</strong><br>{{ summary.summary_text }}</p>
      <form method="post" action="{% url 'delete_summary' summary.id %}">
        {% csrf_token %}
        <button type="submit">Удалить конспект</button>
      </form>
      {% if summary.download_url %}
          <a href="{{ summary.download_url }}" class="download-btn" download>📄 Скачать конспект</a>
        {% else %}
          <p>Конспект ещё не готов</p>
        {% endif %}
    </div>
  {% endfor %}
{% endblock %}
