{% extends 'base.html' %}
{% load static %}
{% block title %}Главная — Конспектатор{% endblock %}

{% block content %}
  <h2>Загрузить видео и получить конспект</h2>

  {% if message_to_user %}
    <div class="alert-message" style="color: green;">{{ message_to_user }}</div>
  {% endif %}

  <form method="post" enctype="multipart/form-data" id="uploadForm">
    {% csrf_token %}

    <p>
      {{ form.file.label_tag }}<br>
      {{ form.file }}
    </p>

    <p>
      {{ form.url.label_tag }}<br>
      {{ form.url }}
    </p>

    <p id="title-field">
      {{ form.title.label_tag }}<br>
      {{ form.title }}
    </p>

    <p>
      {{ algo_format_form.algo.label_tag }}<br>
      {{ algo_format_form.algo }}
    </p>

    <p>
      {{ algo_format_form.format.label_tag }}<br>
      {{ algo_format_form.format }}
    </p>

    <p id="ratio-field" style="display: none;">
      {{ algo_format_form.ratio.label_tag }}<br>
      {{ algo_format_form.ratio }}
    </p>

    <button type="submit">Загрузить и получить конспект</button>
  </form>
{% endblock %}
