{% extends 'base.html' %}

{% block title %}Оставить отзыв{% endblock %}

{% block content %}
  <h2>Оставить отзыв для {{ summary.audio.video.title }}</h2>
<div class="review-form-wrapper">
  <form method="post">
    {% csrf_token %}

    <div>
      {{ form.user_rating.label_tag }}
      {{ form.user_rating }}
      <output style="margin-left: 10px;">{{ form.user_rating.value|default:"1" }}</output>
      {{ form.user_rating.errors }}
    </div>

    <div>
      {{ form.text.label_tag }}
      {{ form.text }}
      {{ form.text.errors }}
    </div>

    <button type="submit">Сохранить отзыв</button>
  </form>
</div>
{% endblock %}
